/* utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
}

:root {
  --orange: #fd6e00;
  --red: #ff3421;
  --green: #66cd37;
  --black: #1a1a1a;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.debug {
  border: 1px solid black;
  min-height: 100px;
  min-width: 100px;
}

.bg-orange {
  background-color: var(--orange);
}

/* container */
.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-flow: row;
}

header {
  box-shadow: 0px 1px 5px black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav {
  height: 65px;
  color: #fff;
}

/* nav + logo */
#logo {
  width: 130px;
  height: 30px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  padding: 2px 3px;
}

/* row + card  */
.row {
  width: 100%;
  margin-top: 140px;
  min-height: 450px;
}

.card {
  width: calc((100% - 30px) / 3);
  position: relative;
  font-size: 12px;
}

.m-rl {
  margin: 0 15px 0;
}

.card img {
  width: 100%;
}

.lab-dis {
  position: absolute;
  bottom: 40px;
  padding: 4px 10px;
  color: #fff;
}

.lab-sos {
  position: absolute;
  bottom: 40px;
  left: 52px;
  padding: 4px 10px;
  color: #fff;
}

.bg-red {
    background-color: var(--red);
}
.bg-green {
    background-color: #407e23;
}
